<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>게임 장르별 목록</title>
    <link rel="stylesheet" href="/genre.css" />
  </head>
  <body>
    <header>
      <h1>{{data.genre}}</h1>
    </header>
    <main>
      <ul>
        {{#each data}}
          <a href="/game/{{this.id}}">
            <li>
              <h2>{{this.title}}</h2>
              <img src="{{this.screen_shot}}" alt="{{this.title}} 스크린샷" />
            </li>
          </a>
        {{/each}}
      </ul>
      <div class="pagination">
        {{#if page}}
          <a href="?page={{decrement page}}&limit={{limit}}">이전 페이지</a>
        {{/if}}
        <span>페이지 {{page}} / {{lastPage}}</span>
        {{#if lastPage}}
          <a href="?page={{increment page}}&limit={{limit}}">다음 페이지</a>
        {{/if}}
      </div>
    </main>
  </body>
</html>