<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>인기순 게임 목록</title>
    <link rel="stylesheet" href="/popular.css" />
  </head>
  <body>
    <div id="popular-games">
      <h2>인기 게임</h2>
      <ul>
        {{#each popularGames}}

          <div class="game">
            <a href="/game/{{this.id}}">
              <img src="{{this.screen_shot}}" alt="{{this.title}}" />
              <p>
                <span class="title">{{this.title}}</span>
              </p>
            </a>
          </div>
        {{/each}}
      </ul>
      <div class="pagination">
        {{#if page}}
          <a href="?page={{decrement page}}&limit={{limit}}">이전 페이지</a>
        {{/if}}
        <span>페이지 {{page}} / {{lastPage}}</span>
        {{#if lastPage}}
          <a href="?page={{increment page}}&limit={{limit}}">다음 페이지</a>
        {{/if}}
      </div>
    </div>
  </body>
</html>